.hamburger {
  height : 100vh;
  width : 200px;
  background: grey;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s cubic-bezier(.36,-0.01,0,.77);
 /*transition: 0.2s;*/
}
.hamburger2 {
  width: 0px;
}
.newChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  background: #D3D3D3;
  margin-top: 50px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  border: 4px solid lightgrey;
}
.chatsListItem {
  width: 150px;
  height: 30px;
  background: #D3D3D3;
  margin-top:10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}
.chatText{
  width:90px;
  height : 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editHead {
  width: 90px;
  height: 30px;
}
.editButton, .deleteButton {
  width: 30px;
  height: 30px;
  background: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  cursor: pointer;
}
.editSo{
  height : 16px;
}
.xmark{
  height:23px;
}
.menuButton {
  top: 10px;
  left : 10px;
  width : 50px;
  height : 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  z-index: 20;
}
.iconImg{
  height : 30px;
  width : 30px;
}
.displayNone{
  display:none;
}
@media only screen and (max-width: 500px) {
  .hamburger{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
}
