.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width : 300px;
  padding: 30px;
  border-radius: 11px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width : 280px;
}

.confirmationHeading {
  height : 50px;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  width: 280px;
  justify-content: space-around;
}
.yesButton {
  width : 100px;
  height : 50px;
  background: #d3d3d3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.noButton{
 width : 100px;
  height : 50px;
  background: #d3d3d3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}