.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  margin-top: 103px;
  overflow: scroll;
}
@media only screen and (min-width: 600px) {
  .chat-container {
    width: 800px;
  }
}
@media only screen and (max-width: 500px) {
  .chat-container {
    margin-top: 150px;
    max-height: 50vh;
  }
}
.scrollPoint {
  margin-top: 200px;
  width: 20px;
  height: 150px;
/*  z-index: 200;*/
  margin-left: 332px;
}